﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>EBLA - @Page.Title</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/assets/css/demo.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="azure" data-image="assets/img/sidebar-5.jpg">
            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag

            -->
            <div class="sidebar-wrapper">
                @RenderSection("logo")

                <ul class="nav">
                    <li>
                        <a href="~/Default.cshtml">
                            <i class="pe-7s-angle-left"></i>
                            <p>Return To Main</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Events/CompetitiveEvents.cshtml">
                            <i class="pe-7s-phone"></i>
                            <p>Events</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/Profiles/Officers.cshtml">
                            <i class="pe-7s-user"></i>
                            <p>FBLA Officers</p>
                        </a>
                    </li>
                    @RenderSection("newContent", required: false)
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            @if ( Session["LoggedIn"] == "true" ) {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        @Session["FullName"]
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/Profiles/Profile.cshtml?id=@Session["UserId"]">Profile</a></li>
                                        <li><a href="~/Profiles/Logout.cshtml">Logout</a></li>
                                    </ul>
                                </li>
                            } else {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Profile
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/Profiles/Login.cshtml">Login</a></li>
                                        <li><a href="~/Profiles/Register.cshtml">Register</a></li>
                                    </ul>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>

            @RenderSection("content");

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <!--
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                            -->
                    </nav>
                    <p class="copyright pull-right">
                        &copy; 2016 Michael Lindsay, <a href="http://www.creative-tim.com">Creative Tim</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="~/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>
<!--  Checkbox, Radio & Switch Plugins -->
<script src="~/assets/js/bootstrap-checkbox-radio-switch.js"></script>
<!--  Charts Plugin -->
<script src="~/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/assets/js/light-bootstrap-dashboard.js"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="~/assets/js/demo.js"></script>
@RenderSection("alert", required: false)
</html>
