﻿<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>EBLA - @Page.Title</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css">
    <link rel="stylesheet" href="~/Content/colors.css" />
    <link rel="stylesheet" href="~/Content/main_styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
    @RenderSection("scripts", required: false)
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>
            <!----<div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <h3>Eastern HS FBLA</h3>
            </div>-->
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                <a href="~/Default.cshtml" class="mdl-layout__tab">Home</a>
                <a href="~/Events/CompetitiveEvents.cshtml" class="mdl-layout__tab">Competitive Events</a>
                <a href="~/Profiles/Officers.cshtml" class="mdl-layout__tab">Officers</a>
                <a href="#" class="mdl-layout__tab">Forms & Documents</a>
                <div class="mdl-layout-spacer"></div>
                <!-- Right aligned menu below button -->

                <a href="#" class="mdl-layout__tab" id="demo-menu-lower-right">
                @if ( Session["LoggedIn"] == "true" ) {
                    <div>@Session["FullName"]</div>
                } else {
                    <div>Profile</div>
                }
                </a>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-right">  
                    @if ( Session["LoggedIn"] != "true" ) {
                        <li class="mdl-menu__item"><a href="~/Profiles/Register.cshtml">Register</a></li>
                        <li class="mdl-menu__item"><a href="~/Profiles/Login.cshtml">Login</a></li>
                    } else {
                        <li class="mdl-menu__item"><a href="~/Profiles/Logout.cshtml">Logout</a></li>
                    }
                </ul>
                <!-- This needs to be only for people who can create posts
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
                  <i class="material-icons" role="presentation">add</i>
                  <span class="visuallyhidden">Add</span>
                </button>
                -->
            </div>

        </header>
        <main class="mdl-layout__content">
            @RenderSection("featured", required: false)

            <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer--middle-section">
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">About</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">Eastern High</a></li>
                            <li><a href="#">FBLA</a></li>
                            <li><a href="#">Partners</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">Competitive Events</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">Comopetitive Events Resource</a></li>
                            <li><a href="#">FBLA Competitive Events</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">Technology</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Patterns</a></li>
                            <li><a href="#">Usage</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contracts</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">FAQ</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">Questions</a></li>
                            <li><a href="#">Answers</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-mega-footer--bottom-section">
                    <ul class="mdl-mega-footer--link-list">
                        <li><p>&copy; 2016 Michael Lindsay</p></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>

    @RenderSection("addContent", required: false);
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>
