﻿@{
    Layout = "~/_DashLayout.cshtml";
    Page.Title = "Home Page";

    var db = Database.Open("EBLA_DB");

    var page = Request.QueryString["page"];

    IEnumerable<dynamic> posts = Enumerable.Empty<dynamic>();

    if ( String.IsNullOrEmpty(page) ) {
        var postQuery = "SELECT * FROM Posts ORDER BY PostedDate DESC OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY";
        posts = db.Query(postQuery);
    } else {
        var pageNum = int.Parse(page) * 3;

        var postQuery = "SELECT * FROM Posts ORDER BY PostedDate DESC OFFSET " + pageNum + " ROWS FETCH NEXT 3 ROWS ONLY";
        posts = db.Query(postQuery);
    }
}

@section logo {
    <div class="logo">
        <a href="#" class="simple-text">
            Home
        </a>
    </div>
}

@section content {
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @for ( int i = 0; i < posts.Count(); i++ ) {
                        <div class="card">
                            <div class="header">
                                <h1>@posts.ToArray()[i].Title</h1>
                                @if ( ( String )Session["Role"] == "Admin" ) {
                                    <small>
                                        <a href="~/Data/Update.cshtml?id=@posts.ToArray()[i].Id">Edit</a>
                                        &nbsp--&nbsp
                                    </small>
                                }
                                <small>
                                    <a href="~/Profiles/Profile.cshtml?id=@posts.ToArray()[i].AuthorId">
                                        @posts.ToArray()[i].Author
                                    </a> - @posts.ToArray()[i].PostedDate
                                </small>
                            </div>
                            <div class="content">
                                @Html.Raw(Server.HtmlDecode(Server.HtmlDecode(posts.ToArray()[i].Body)))
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@section newContent {
    <li class="active-pro">
    @if ( String.IsNullOrEmpty(Request.QueryString["page"]) ) {
        <text>
        <li>
            <a href="~/Default.cshtml?page=1">
                <i class="pe-7s-angle-right"></i>
                <p>Next</p>
            </a>
        </li>
        </text>
    } else {
        <text>
            <li>
                <a href="~/Default.cshtml?page=@(int.Parse(Request.QueryString["page"])+1)">
                    <i class="pe-7s-angle-right"></i>
                    <p>Next</p>
                </a>
            </li>
        </text>
        if ( int.Parse(Request.QueryString["page"]) > 0 ) {
            <li>
                <a href="~/Default.cshtml?page=@(int.Parse(Request.QueryString["page"])-1)">
                    <i class="pe-7s-angle-left"></i>
                    <p>Back</p>
                </a>
            </li>
        }
    }
    @if ( ( String )Session["Role"] == "Admin" ) {
        <li class="active-pro">
            <a href="~/Data/New.cshtml">
                <i class="pe-7s-note"></i>
                <p>New Post</p>
            </a>
        </li>
    } 
}