﻿hr { width:100%; height:1px; background: #fff }
.post-header {
    color: rgb(64, 196, 255);
}
header {
    background-image: url("../Images/fbla.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}