﻿@using System.Security.Cryptography;
@{
    Layout = "~/_DashLayout.cshtml";
    Page.Title = "Login";

    var db = Database.Open("EBLA_DB");

    string username = "";
    string password = "";

    string error = "";

    if ( IsPost ) {
        username = Request.Form["login-username"];
        password = Request.Form["login-password"];
        if ( String.IsNullOrEmpty(username) ) {
            error = "You left the username blank.";
        } else if ( String.IsNullOrEmpty(password) ) {
            error = "You left the password blank.";
        } else {
            var userQuery = db.Query("SELECT * FROM Members WHERE Username='" + username + "'");

            if(userQuery.Count() != 1) {
                error = "Username or password is incorrect.";
            } else {
                var serverSalt = userQuery.ToArray()[0].Salt;
                var serverPass = userQuery.ToArray()[0].Password;

                var generatedPass = Crypto.SHA256(serverSalt + password);

                if ( generatedPass == serverPass ) {
                    // Update the session varia
                    Session["UserId"] = userQuery.ToArray()[0].Id;
                    Session["Username"] = username;
                    Session["Email"] = userQuery.ToArray()[0].Email;
                    Session["FullName"] = userQuery.ToArray()[0].Name;
                    Session["Role"] = userQuery.ToArray()[0].Role;
                    Session["LoggedIn"] = "true";
                    Response.Redirect("~/Default.cshtml");
                } else {
                    error = "Username or password is incorrect.";
                }
            }
        }
    }
}

@section logo {
    <div class="logo">
        <a href="#" class="simple-text">
            Login
        </a>
    </div>
}

@section alert {
    <script type="text/javascript">
    @if (!String.IsNullOrEmpty(error)) {
        <text>
            $( document ).ready(function(){

                demo.initChartist();

                $.notify({
                    icon: 'pe-7s-door-lock',
                    message: '@error',

                },{
                    type: 'danger',
                    timer: 400000
                });

            });
        </text>
    }
    </script>
}

@section content {

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Login</h4>
                        </div>
                        <div class="content">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input name="login-username" id="login-username" type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Password</label>
                                            <input name="login-password" id="login-password" type="password" class="form-control" placeholder="*********">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info btn-fill pull-right">Login</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





