﻿@{
    Layout = "~/_DashLayout.cshtml";
    Page.Title = "Events Home";

    var db = Database.Open("EBLA_DB");

    var allEvents = db.Query("SELECT * FROM Members WHERE Position != 'Member'");
}

@section logo {
    <div class="logo">
        <a href="#" class="simple-text">
            Officers
        </a>
    </div>
}

@section content {
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Officers</h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>Name</th>
                                <th>Position</th>
                                </thead>
                                <tbody>
                                    @for ( int i = 0; i < allEvents.Count(); i++ ) {
                                        <tr>
                                            <td>
                                                <a href="~/Profiles/Profile.cshtml?id=@allEvents.ToArray()[i].Id">
                                                    @allEvents.ToArray()[i].Name
                                                </a>
                                            </td>
                                            <td>
                                                @allEvents.ToArray()[i].Position
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
