﻿@{
    Layout = "~/_DashLayout.cshtml";
    Page.Title = "Profile";

    var db = Database.Open("EBLA_DB");

    var profileId = Request.QueryString["id"];

    if ( String.IsNullOrEmpty(profileId) ) {
        Response.Redirect("~/Default.cshtml");
    }

    var userData = db.QuerySingle(
        "SELECT * FROM Members WHERE Id='"
        + profileId + "'");

    var email = "";
    var name = "";
    var bio = "";

    if ( IsPost ) {
        if ( Session["userId"] != null ) {
            if ( ( int )Session["userId"] == ( int )userData.Id ) {

                if ( String.IsNullOrEmpty(Request.Form["edit-email"]) ) {
                    email = userData.Email;
                } else {
                    email = Request.Form["edit-email"];
                }
                if ( String.IsNullOrEmpty(Request.Form["edit-name"]) ) {
                    name = userData.Name;
                } else {
                    name = Request.Form["edit-name"];
                }
                if ( String.IsNullOrEmpty(Request.Form["edit-bio"]) ) {
                    bio = userData.Bio;
                } else {
                    bio = Request.Form["edit-bio"];
                }

                var updateQuery = "UPDATE Members SET Email='"
                    + email + "', Name='"
                    + name + "', Bio='"
                    + bio + "' WHERE Id='"
                    + userData.Id + "'";

                db.Execute(updateQuery);

                Response.Redirect("~/Profiles/Profile.cshtml?id=" + userData.id);
            }
        }
    }
}

@section logo {
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            @userData.Name
        </a>
    </div>
}

@section content {
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                @if ( Session["userId"] != null ) {
                    if ( ( int )Session["userId"] == ( int )userData.Id ) {
                        <div class="col-md-8">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Edit Profile</h4>
                                </div>
                                <div class="content">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Username</label>
                                                    <input name="edit-username" id="edit-username" type="text" class="form-control" disabled placeholder="Username" value="@userData.UserName">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <input name="edit-email" id="edit-email" type="email" class="form-control" placeholder="Email" value="@userData.Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Full Name</label>
                                                    <input name="edit-name" id="edit-name" type="text" class="form-control" placeholder="Name" value="@userData.Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>About Me</label>
                                                    <textarea name="edit-bio" id="edit-bio" rows="5" class="form-control" placeholder="Here can be your description" value="Mike">@userData.Bio</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-user">
                                <div class="image">
                                    <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <a href="#">
                                            <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..." />
                                            <h4 class="title">
                                                @userData.Name<br />
                                                <small>@userData.UserName</small>
                                                <br />
                                                <small>@userData.Position</small>
                                            </h4>
                                        </a>
                                    </div>
                                    <p class="description text-center">
                                        @userData.Bio
                                    </p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                    <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                    <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                } else {
                    <div class="col-md-offset-4 col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                            </div>
                            <div class="content">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..." />
                                        <h4 class="title">
                                            @userData.Name<br />
                                            <small>@userData.UserName</small>
                                        </h4>
                                    </a>
                                </div>
                                <p class="description text-center">
                                    @userData.Bio
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
