﻿@using System.Security.Cryptography;
@{
    Layout = "~/_DashLayout.cshtml";
    Page.Title = "Register";

    var db = Database.Open("EBLA_DB");

    var error = "";

    // Page variables
    var username = "";
    var email = "";
    var fullname = "";
    var password = "";

    var returnUrl = Request.QueryString["ReturnUrl"];
    if ( returnUrl.IsEmpty() ) {
        // Some external login providers always require a return URL value
        returnUrl = Href("~/");
    }

    //TODO VALIDATION
    if ( IsPost ) {
        username = Request.Form["reg-username"];
        email = Request.Form["reg-email"];
        fullname = Request.Form["reg-name"];
        password = Request.Form["reg-password"];

        if ( String.IsNullOrEmpty(username) ) {
            error = "You left the username blank.";
        } else if ( String.IsNullOrEmpty(password) ) {
            error = "You left your password blank.";
        } else if ( String.IsNullOrEmpty(email) ) {
            error = "You left your email blank.";
        } else if ( String.IsNullOrEmpty(fullname) ) {
            error = "You left your name blank.";
        } else {
            var existsQuery = "SELECT * FROM Members WHERE Username='" + username + "';";
            var queryResults = db.Query(existsQuery);

            if ( queryResults.Count() == 0 ) {

                // Salt and hash 'em boys
                var rng = RNGCryptoServiceProvider.Create();
                byte[] saltBytes = new byte[32];
                rng.GetBytes(saltBytes);

                var salt = System.Text.Encoding.Default.GetString(saltBytes);

                var hashedPassword = Crypto.SHA256(salt + password);

                var insertQuery = "INSERT INTO Members (Username, Email, Password, Name, Role, Salt)" +
                    " VALUES ('" + username + "', '" + email + "', '" + hashedPassword + "', '" + fullname + "', 'Member', '" + salt + "')";
                var executeResults = db.Execute(insertQuery);

                var userQuery = db.Query("SELECT * FROM Members WHERE Username='" + username + "'").FirstOrDefault();

                // Update the session varia
                Session["UserId"] = userQuery.Id;
                Session["Username"] = username;
                Session["Email"] = email;
                Session["FullName"] = fullname;
                Session["Role"] = userQuery.Role;
                Session["LoggedIn"] = "true";

                Response.Redirect("~/Default.cshtml");
            }
        }



    }


}

@section logo {
    <div class="logo">
        <a href="#" class="simple-text">
            Register
        </a>
    </div>
}

@section alert {
<script type="text/javascript">
    @if (!String.IsNullOrEmpty(error)) {
        <text>
            $( document ).ready(function(){

                demo.initChartist();
                debugger;
                $.notify({
                    icon: 'pe-7s-door-lock',
                    message: '@error',

                },{
                    type: 'danger',
                    timer: 400000
                });

            });
        </text>
    }
</script>    
}

@section content {

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Register</h4>
                        </div>
                        <div class="content">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input name="reg-username" id="reg-username" type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input name="reg-email" id="reg-email" type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input name="reg-name" id="reg-name" type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" name="reg-password" id="reg-password" rows="5" class="form-control" placeholder="******"></input>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info btn-fill pull-right">Register</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



