﻿@{
    Layout = "~/_DashLayout.cshtml";
    Page.Title = "Events Home";

    var db = Database.Open("EBLA_DB");

    var allEvents = db.Query("SELECT * FROM Events ORDER BY FullTitle DESC");
}

@section logo {
    <div class="logo">
        <a href="#" class="simple-text">
            Events
        </a>
    </div>
}

@section content {
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">All Events</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Team Size</th>
                                @if((String)Session["Role"] == "Admin") {
                                    <th>Edit</th>
                                }
                            </th>
                            <tbody>
                                @for(int i = 0; i < allEvents.Count(); i++ ) {
                                    <tr>
                                        <td>
                                            <a href="~/Events/Event.cshtml?id=@allEvents.ToArray()[i].Id">
                                                @HttpUtility.HtmlDecode(allEvents.ToArray()[i].FullTitle)
                                            </a>
                                        </td>
                                        <td>
                                            @allEvents.ToArray()[i].TeamSize
                                        </td>
                                        @if ( ( String )Session["Role"] == "Admin") {
                                            <td>
                                                <a href="~/Events/Update.cshtml?id=@allEvents.ToArray()[i].Id">Edit</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@section newContent {
    @if ( ( String )Session["Role"] == "Admin" ) {
        <li class="active-pro">
            <a href="~/Events/New.cshtml">
                <i class="pe-7s-note"></i>
                <p>New Event</p>
            </a>
        </li>
    }
}
