﻿@{
    Layout = "~/_DashLayout.cshtml";
    Page.Title = "Events Home";

    var db = Database.Open("EBLA_DB");

    var eventId = Request.QueryString["id"];

    dynamic eventData = "";
    dynamic eventBody = "";

    if(!String.IsNullOrEmpty(eventId)) {
        eventData = db.QuerySingle("SELECT * FROM Events WHERE Id='" + eventId + "'");
        eventBody = Server.HtmlDecode(eventData.Body);
    }


}


@section logo {
    <div class="logo">
        <a href="#" class="simple-text">
            Event
        </a>
    </div>
}

@section content {
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h1>@Server.HtmlDecode(eventData.FullTitle)</h1>
                        </div>
                        <div class="content">
                            @Html.Raw(Server.HtmlDecode(eventBody))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
