﻿@using System.Security.Cryptography;
@{
    Layout = "~/_DashLayout.cshtml";
    Page.Title = "New Event";

    var db = Database.Open("EBLA_DB");

    var error = "";

    // Page variables
    var Title = "";
    var Body = "";
    var TeamSize = "";


    var returnUrl = Request.QueryString["ReturnUrl"];
    if ( returnUrl.IsEmpty() ) {
        // Some external login providers always require a return URL value
        returnUrl = Href("~/");
    }

    //TODO VALIDATION
    if ( IsPost ) {
        if ( ( String )Session["Role"] != "Admin" ) {
            Response.Redirect("~/Default.cshtml");
        }
        Title = Request.Form["event-title"];
        Body = HttpUtility.HtmlEncode(Request.Unvalidated().Form["event-body"]);
        TeamSize = Request.Form["event-team"];

        if ( String.IsNullOrEmpty(Title) ) {
            error = "You left the title blank.";
        } else if ( String.IsNullOrEmpty(Body) ) {
            error = "You left the body blank.";
        } else if ( String.IsNullOrEmpty(TeamSize) ) {
            error = "You left the team size blank.";
        } else {
            var insertQuery = "INSERT INTO Events (FullTitle, Body, TeamSize) VALUES " +
                "('" + Server.HtmlEncode(Title) +
                "', '" + Server.HtmlEncode(Body) +
                "', '" + Server.HtmlEncode(TeamSize) + ")";

            var execute = db.Execute(insertQuery);

            Response.Redirect("~/Default.cshtml");
        }
}
}

@section logo {
    <div class="logo">
        <a href="#" class="simple-text">
            New Event
        </a>
    </div>
}

@section alert {
    <script type="text/javascript">
    @if (!String.IsNullOrEmpty(error)) {
        <text>
            $( document ).ready(function(){

                demo.initChartist();

                $.notify({
                    icon: 'pe-7s-door-lock',
                    message: '@error',

                },{
                    type: 'danger',
                    timer: 400000
                });

            });
        </text>
    }
    </script>
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            selector: "#event-body",
            height: 500,
            theme: 'modern',
            plugins: [
              'advlist autolink lists link image charmap print preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code fullscreen',
              'insertdatetime media nonbreaking save table contextmenu directionality',
              'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons',
            image_advtab: true
        });
    </script>
}

@section content {
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">New Event</h4>
                    </div>
                    <div class="content">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input name="event-title" id="event-title" type="text" class="form-control" placeholder="Title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Team Type/Size</label>
                                        <input name="event-team" id="event-team" type="text" class="form-control" placeholder="Individual">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="event-body" id="event-body" type="text" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">New Event</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
