﻿@using System.Security.Cryptography;
@{
    Layout = "~/_DashLayout.cshtml";
    Page.Title = "Update";

    var db = Database.Open("EBLA_DB");

    var eventId = Request.QueryString["id"];

    var eventData = db.QuerySingle("SELECT * FROM Events"
        + " WHERE Id='" + eventId + "'");

    var error = "";

    // Page variables
    var Title = "";
    var Body = "";
    var TeamSize = "";


    var returnUrl = Request.QueryString["ReturnUrl"];
    if ( returnUrl.IsEmpty() ) {
        // Some external login providers always require a return URL value
        returnUrl = Href("~/");
    }

    //TODO VALIDATION
    if ( IsPost ) {
        Title = Request.Form["event-title"];
        Body = HttpUtility.HtmlEncode(Request.Unvalidated().Form["event-body"]);
        TeamSize = Request.Form["event-team"];

        if ( String.IsNullOrEmpty(Title) ) {
            error = "The title is empty.";
        } else if ( String.IsNullOrEmpty(Body) ) {
            error = "The body is empty.";
        } else if (String.IsNullOrEmpty(TeamSize)) {
            error = "The team size is empty.";
        } else {
            var insertQuery = "UPDATE Events SET FullTitle='"
                + Server.HtmlEncode(Title) + "', Body='"
                + Server.HtmlEncode(Body) + "', TeamSize='"
                + Server.HtmlEncode(TeamSize) + "' WHERE Id='"
                + eventId + "'";

            var execute = db.Execute(insertQuery);

            Response.Redirect("~/Events/CompetitiveEvents.cshtml");
        }
    }
}

@section logo {
    <div class="logo">
        <a href="#" class="simple-text">
            Edit Event
        </a>
    </div>
}




@section alert {
    <script type="text/javascript">
    @if (!String.IsNullOrEmpty(error)) {
        <text>
            $( document ).ready(function(){

                demo.initChartist();

                $.notify({
                    icon: 'pe-7s-door-lock',
                    message: '@error',

                },{
                    type: 'danger',
                    timer: 400000
                });

            });
        </text>
    }
    </script>
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            tinyMCE.init({
                selector: "#event-body",
                height: 500,
                theme: 'modern',
                plugins: [
                  'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                  'searchreplace wordcount visualblocks visualchars code fullscreen',
                  'insertdatetime media nonbreaking save table contextmenu directionality',
                  'emoticons template paste textcolor colorpicker textpattern imagetools'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons',
                image_advtab: true
            });
        });
    </script>
}

@section content {
    @if ( ( String )Session["Role"] == "Admin" ) {
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Update Event</h4>
                            </div>
                            <div class="content">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Title</label>
                                                <input name="event-title" id="event-title" type="text" class="form-control" placeholder="Title" value="@Server.HtmlDecode(eventData.FullTitle)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Team Type/Size</label>
                                                <input name="event-team" id="event-team" type="text" class="form-control" placeholder="Individual" value="@Server.HtmlDecode(eventData.TeamSize)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="event-body" id="event-body" type="text" class="form-control">@Html.Raw(Server.HtmlDecode(eventData.Body))</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Save</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    } else {
        Response.Redirect("~/Default.cshtml");
    }
}
